<dialog [id]="id()" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box" [class.bg-slate-200]="!dark()" [class.md:bg-opacity-35]="dark()">
        <ng-content />
        <div class="modal-action">
            <form method="dialog">
                <button
                    class="btn-circle btn-ghost mask mask-circle btn-sm absolute right-2 top-2 hidden sm:btn"
                >
                    <i class="pi pi-times"></i>
                </button>
                <button class="btn sm:hidden">Close</button>
            </form>
        </div>
    </div>
</dialog>
