<div class="flex flex-row">
    <div class="h-screen grid grid-rows-[40px] grid-cols-[500px]">
        <p class="text-xl text-center">Pending</p>
        <!-- TODO:  @defer () {} @loading (after 100ms; minimum 1s) {} -->
        <div cdkDropListSortingDisabled cdkDropList #pendingList="cdkDropList" [cdkDropListData]="_pendingOrdered()" [cdkDropListConnectedTo]="[activeList, completedList]"
            (cdkDropListDropped)="drop($event)" class="flex flex-col overflow-y-scroll scroll-container h-full gap-36" id="pending">
            @for (todo of _pending(); track todo.id) {
            <app-dnd-slot [todo]="todo" />
            }
            @empty {
                Todo: empty for some reasons 
            }
        </div>
    </div>
    <div class="h-screen grid grid-rows-[40px] grid-cols-[500px]">
        <p class="text-xl">Active</p>
        <div cdkDropListSortingDisabled cdkDropList #activeList="cdkDropList" [cdkDropListData]="_activeOrdered()" [cdkDropListConnectedTo]="[pendingList, completedList]"
            (cdkDropListDropped)="drop($event)" class="flex flex-col overflow-y-scroll scroll-container h-full gap-36" id="active">
            @for (todo of _active(); track todo.id) {
                <app-dnd-slot [todo]="todo" />
            }
        </div>
    </div>
    <div class="h-screen grid grid-rows-[40px] grid-cols-[500px]">
        <p class="text-xl">Completed</p>
        <div cdkDropListSortingDisabled cdkDropList #completedList="cdkDropList" [cdkDropListData]="_completedOrdered()" [cdkDropListConnectedTo]="[pendingList, activeList]"
            (cdkDropListDropped)="drop($event)" class="flex flex-col overflow-y-scroll scroll-container h-full gap-36" id="completed">
            @for (todo of _completed(); track todo.id) {
                <app-dnd-slot [todo]="todo" />
            }
        </div>
    </div>
</div>